<header class="about">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <br>
                    <br>
                    <h1 class="display-5 fw-bolder text-black mb-2">About Us:</h1>
                    <br>
                    <h2>Best Deal for Students and IT professionals:</h2>
                    <br>
                    <p class="lead fw-normal text-white-50 mb-4">Along with this laptop you will get lots of computer video tutorials,ebooks and entertainment stuff like movies and songs etc..</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-xl-5 col-xl-5 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="../assets/brands/brands-9.jpg" alt="..." /></div>
        </div>
    </div>
</header>